// path to assets img : '~@/assets/img/'
$slider-background-img-mob: ''; // "https://picsum.photos/300/800/?random=1";
$slider-background-img-desk: ''; // "http://picsum.photos/1500/800";
$slider-c-background: transparent;

// colors
$slider-color-title: $c-text;
$slider-color-subtitle: $slider-color-title;
$slider-color-icon: $c-vp;
$slider-color-bullet: $slider-color-icon;

$slider-spacing-mob: vw(48px) 0;
$slider-spacing-desk: du(96px) 0;

.slider {
    padding: $slider-spacing-mob;
    text-align: center;
    background-color: $slider-c-background;
    @if ($slider-background-img-mob != '') { background: url($slider-background-img-mob) center center / cover $slider-c-background; }

    @include breakpoint($b-tab-desk) {
        padding: $slider-spacing-desk;
        @if ($slider-background-img-desk != '') { background: url($slider-background-img-desk) center center / cover $slider-c-background; }
    }

    &__title {
        margin-bottom: vw(32px);
        color: $slider-color-title;

        @include breakpoint($b-tab-desk) {
            margin-bottom: du(48px);
        }

        ::v-deep & p {
            color: $slider-color-subtitle;
        }
    }

    &__navbar {
        margin: 0 auto vw(32px);
        @include breakpoint($b-tab-desk) {
            margin: 0 auto du(48px);
        }
    }

    &__content {
        position: relative;
        max-width: du(1200px);
        margin: auto;
    }

    &__swiper {
        &.focus {
            .swiper-slide, .swiper-slide-duplicate {
                opacity: 0.3;
            }
            .swiper-slide-active, .swiper-slide-duplicate-active {
                opacity: 1;
            }
        }
    }

    &__slide:not(.no-animation), & .swiper-slide-duplicate:not(.no-animation) {
        margin: 0 0 vw(50px);
        transform: translateY(vw(30px));
        transition: all 0.5s;
        @include breakpoint($b-tab-desk) {
            margin: 0 0 du(70px);
            transform: translateY(du(40px));
        }

        &.swiper-slide-active, &.swiper-slide-duplicate-active {
            transform: translateY(0);
        }
    }

    &__nav {
        position: absolute;
        width: vw(30px);
        height: vw(30px);
        border-radius: 100%;
        border: solid 1px $slider-color-icon;
        top: 50%;
        z-index: 10;
        cursor: pointer;

        @include breakpoint($b-tab-desk) {
            width: du(30px);
            height: du(30px);
        }
        &::after {
            content:  $icon-arrow-right;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'icomoon';
            color: $slider-color-icon;
            font-size: vw(16px);

            @include breakpoint($b-tab-desk) {
                font-size: du(16px);
            }
        }

        &--next {
            right: 4%;
            @include breakpoint($b-tab-desk) {
                right: 33%;
                transform: translateX(50%);
            }
        }

        &--prev {
            left: 4%;
            @include breakpoint($b-tab-desk) {
                left: 33%;
                transform: translateX(-50%);
            }
            &::after {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    ::v-deep .swiper-pagination-bullet {
        background-color: $slider-color-bullet;
    }

    ::v-deep .pagination-under .swiper-pagination {
        position: relative;
        bottom: 0;
        margin-top: vw(10px);

        @include breakpoint($b-desk) {
            margin-top: du(20px);
        }
    }
}
