
<template>
    <div class="frow-col" :class="'col-xs-'+this.mobCols+' col-sm-'+this.tabCols+' col-md-'+this.deskCols" :style="`backgroundColor: ${this.backgroundColor}`">
        <!-- @slot Content for each column. -->
        <slot></slot>
    </div>
</template>

<style scoped lang="scss" src="./FrowCol.scss"></style>
<script src="./FrowCol.js"></script>
