// path to assets img : '~@/assets/img/'
$reinsurance-background-img-mob: ''; // "https://picsum.photos/300/800/?random=1";
$reinsurance-background-img-desk: ''; // "http://picsum.photos/1500/800";
$reinsurance-c-background: transparent;

$reinsurance-spacing-mob: vw(48px) vw(16px);
$reinsurance-spacing-desk: du(96px) 0;
$reinsurance-spacing-item-mob: 0 0 vw(24px);
$reinsurance-spacing-item-desk: 0 du(10px);
$reinsurance-max-width-desk: 90%;

// text colors
$reinsurance-color-text: $c-text;
$reinsurance-color-title: $reinsurance-color-text;
$reinsurance-color-subtitle: $reinsurance-color-title;
$reinsurance-color-text-horizontal-list: $reinsurance-color-text;
$reinsurance-color-text-grid-list: $reinsurance-color-text;
$reinsurance-color-text-icon-list: $reinsurance-color-text;

.reinsurance {
    padding: $reinsurance-spacing-mob;
    background-color: $reinsurance-c-background;
    @if ($reinsurance-background-img-mob != '') { background: url($reinsurance-background-img-mob) center center / cover $reinsurance-c-background; }

    @include breakpoint($b-tab-desk) {
        padding: $reinsurance-spacing-desk ;
        @if ($reinsurance-background-img-desk != '') { background: url($reinsurance-background-img-desk) center center / cover $reinsurance-c-background; }
    }

    &__title {
        text-align: center;
        margin: 0 0 vw(32px);
        color: $reinsurance-color-title;

        @include breakpoint($b-tab-desk) {
            margin:0 0 du(48px);
        }

        ::v-deep & p {
            color: $reinsurance-color-subtitle;
        }
    }

    &__list {
        @include breakpoint($b-tab-desk) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 100%;
            max-width: $reinsurance-max-width-desk;
        }

        &--horizontalList {
            @include breakpoint($b-tab-desk) {
                align-items: flex-start;
            }
        }

        &--iconGrid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            @include breakpoint($b-tab-desk) {
                justify-content: center;
                flex-wrap: nowrap;
            }

            .icon {
                width: 58%;

                @include breakpoint($b-tab-desk) {
                    width: 40%;
                }
            }
        }
    }

    &__item {
        margin: $reinsurance-spacing-item-mob;

        @include breakpoint($b-tab-desk) {
            margin: $reinsurance-spacing-item-desk;
        }

        &--iconList {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint($b-tab-desk) {
                justify-content: center;
            }
        }

        &--iconGrid {
            width: 48%;
            margin: 0 0 vw(24px);

            @include breakpoint($b-tab-desk) {
                width: auto;
                margin: $reinsurance-spacing-item-desk;
            }
        }

    }

    &__illustration {
        &--iconList {
            width: vw(48px);
            margin-right: vw(12px);

            @include breakpoint($b-tab-desk) {
                width: du(48px);
                margin-right: du(12px);
            }
        }

        &--horizontalList {
            margin-bottom: vw(8px);

            @include breakpoint($b-tab-desk) {
                margin-bottom: vh(8px);
            }
        }

        &--iconGrid {
            width: 40%;
            margin: 0 auto vw(12px);
            @include breakpoint($b-tab-desk) {
                margin: 0 auto vh(8px);
            }
        }
    }

    &__text {
        &--iconList {
            width: calc(100% - vw(60px));
            color: $reinsurance-color-text-icon-list;
            @include breakpoint($b-tab-desk) {
                width: calc(100% - du(60px));
            }
        }
        &--horizontalList {
            margin: 0 vw(16px);
            text-align: center;
            color: $reinsurance-color-text-horizontal-list;

            @include breakpoint($b-tab-desk) {
                margin: 0;
            }
        }
        &--iconGrid {
            text-align: center;
            color: $reinsurance-color-text-grid-list;
        }
    }

}
