// path to assets img : '~@/assets/img/'
$offer-background-img-mob: ''; // "https://picsum.photos/300/800/?random=1";
$offer-background-img-desk: ''; // "http://picsum.photos/1500/800";
$offer-c-background: white;

// text colors
$offer-color-text: $c-text;
$offer-color-title: $offer-color-text;
$offer-color-text: $offer-color-text;
$offer-color-code-title: $offer-color-text;
$offer-color-voucher-title: $offer-color-text;

$offer-border-radius: 16px;
$offer-padding-row-desktop: du(96px) du(140px);
$offer-width-row-wrapper-desktop: 75%;
$offer-width-row-content-desktop: du(328px);

//style variant bundle
$offer-mpack-width-img-desktop: du(570px);
$offer-mpack-width-text-desktop: du(570px);

//style popin
$offer-popin-c-background: white;
$offer-popin-box-shadow: 0px 1px 1px -1px rgba(34, 34, 43, 0.08), 0px 4px 8px -2px rgba(34, 34, 43, 0.08), 0px 1px 10px -2px rgba(34, 34, 43, 0.10);

//style offer simple
.offer {
    position: relative;
    z-index: 2;
    text-align: center;
    height: 100vh;
    color: $offer-color-text;

    @include breakpoint($b-tab-desk) {
        height: 100%;
    }

    &.no-relative {
        position: inherit;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;

        .offer &:not(.multioffer &) {
            position: relative;
            background-color: $offer-c-background;
            @if ($offer-background-img-mob != '') { background: url($offer-background-img-mob) center center / cover $offer-c-background; }

            @include breakpoint($b-tab-desk) {
                @if ($offer-background-img-desk != '') { background: url($offer-background-img-desk) center center / cover $offer-c-background; }
            }

            &.popin {
                @include breakpoint($b-mob-tab) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        .stacking & {
            height: auto;
        }

        &.row {
            @include breakpoint($b-tab-desk) {
                width: fit-content;
                margin: auto;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding: $offer-padding-row-desktop;

                .offer__content, .offer__img {
                    margin: unset;
                }

                .offer__content {
                    width: $offer-width-row-content-desktop;
                    margin-right: du(32px);

                    .offer__title, .offer__subtitle,
                    .offer__text {
                        // text-align: left;
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                    &.bundle {
                        width: $offer-mpack-width-text-desktop;
                    }
                }

                .img-right-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &.bundle {
                        width: $offer-mpack-width-img-desktop;
                    }
                }

                .offer__img{
                    max-width: unset;
                }
            }
        }

        &.popin {
            background-color: $offer-popin-c-background;
            box-shadow: $offer-popin-box-shadow;
            border-radius: vw($offer-border-radius);

            @include breakpoint($b-tab-desk) {
                width: $offer-width-row-wrapper-desktop;
                margin: auto;
                border-radius: du($offer-border-radius);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        max-width: vw(320px);
        margin: auto;

        @include breakpoint($b-tab-desk) {
            max-width: $offer-width-row-content-desktop;
        }
    }

    &__img {
        @include breakpoint($b-tab-desk) {
            max-width: $offer-width-row-content-desktop - du(32px);
            margin: auto;
        }
    }

    &__title {
        color: $offer-color-title;
    }

    &__code {
        color: $offer-color-code-title;
    }

    &__voucher {
        &__title {
            color: $offer-color-voucher-title;
        }
    }

    &__text {
        color: $offer-color-text;

        @include breakpoint($b-tab-desk) {
            max-width: $offer-width-row-content-desktop - du(32px);
            margin: auto;
        }
    }

    ::v-deep &__copy-code .ml {
        color: $offer-color-text;
    }
}
