.spinningwheel {
    position: relative;
    padding-bottom: vw(20px);

    &__legend {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: vw(300px);
        margin: 0 auto;
    }

    &__control {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
