$c-consent-bg: $c-theme;
$c-consent-bg-content: rgba(255, 255, 255, 0.5);
$c-consent-text: white;
$c-consent-btn-primary: $c-vp;
$c-consent-btn-secondary: white;

.consent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 250;
    padding: rem(30px) rem(20px);
    color: $c-consent-text;
    font-family: $t-hk-grotesk;
    background: $c-consent-bg;
    .consent-cta {
        background: $c-consent-btn-secondary;
        padding: rem(7px) rem(26px);
        border: 2px solid $c-consent-btn-primary;
        color: $c-consent-btn-primary;
        border-radius: rem(10px);
        margin: 0 auto;
        display: block;

        ::v-deep .button {
            background-color: transparent;
            color: $c-consent-btn-primary;
            border: none;
            box-shadow: none;
        }
    
        &-active {
            background: $c-consent-btn-primary;

            ::v-deep .button {
                color: $c-consent-btn-secondary;
            }
        }
    }
    &__wrapper {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: rem(60px) 0;
        max-width: rem(1200px);
        margin: auto;

        @include breakpoint($b-tab-desk) {
            padding: du(90px, vh) 0;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: rem(20px);
            background: $c-consent-bg-content;
        }
        &__inner {
            &__carterose {
                max-width: vh(300px);
                margin: auto;
            }
            &__brand {
                max-width: vh(300px);
                margin: auto;
            }
        }

        &__content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            height: 42%;
            @include breakpoint($b-tab-desk) {
                height: auto;
            }
            .consent-cta {
                min-width: rem(220px);
                cursor: pointer;
                @include breakpoint($b-tab-desk) {
                    margin: du(25px) auto du(5px);
                }
                &:focus-visible {
                    outline: none;
                }
            }

            .txt {
                > p {
                    span {
                        display: block;
                        @include breakpoint($b-tab-desk) {
                            display: inline;
                        }
                    }
                    @include breakpoint($b-tab-desk) {
                        font-size: du(18px);
                    }
                }
            }
        }
    }
}
