// path to assets img : '~@/assets/img/'
$dropdown-background-img-mob: '';
$dropdown-background-img-desk: '';
$dropdown-color-background: transparent;

// spacing
$dropdown-spacing-mob: vw(48px) vw(16px);
$dropdown-spacing-desk: du(96px) 0;

// colors
$dropdown-color-text: $c-text;
$dropdown-color-title: $dropdown-color-text;
$dropdown-color-arrow: $c-vp;
$dropdown-color-arrow-circle: $dropdown-color-arrow;
$dropdown-color-arrow-down: $dropdown-color-arrow;

// width
$dropdown-max-width: du(952px);

// items
$dropdown-item-radius: 6px;
$dropdown-item-background: #F7F7F7;
$dropdown-item-arrow-size: 22px;
$dropdown-item-padding-mob: vw(16px) vw(16px);
$dropdown-item-padding-desk: du(24px) du(24px);

.dropdown {
    padding: $dropdown-spacing-mob;
    background-color: $dropdown-color-background;
    @if ($dropdown-background-img-mob != '') { background: url($dropdown-background-img-mob) center center / cover $dropdown-color-background; }

    @include breakpoint($b-tab-desk) {
        padding: $dropdown-spacing-desk;
        @if ($dropdown-background-img-desk != '') { background: url($dropdown-background-img-desk) center center / cover $dropdown-color-background; }
    }

    &__wrapper {
        @include breakpoint($b-tab-desk) {
            max-width: $dropdown-max-width;
            margin: auto;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: vw(32px);
        color: $dropdown-color-title;

        @include breakpoint($b-tab-desk) {
            margin-bottom: du(32px);
        }
    }

    &__item {
        margin-bottom: vw(8px);
        padding: $dropdown-item-padding-mob;
        position: relative;
        border-radius: vw($dropdown-item-radius);
        background-color: $dropdown-item-background;

        @include breakpoint($b-tab-desk) {
            margin-bottom: du(16px);
            padding: $dropdown-item-padding-desk;
            border-radius:  du($dropdown-item-radius);

        }

        &.collapse-show {
            & .dropdown__item__arrow {
                transform: rotate(180deg);
            }

            & .dropdown__item__description {
                margin-top: vw(14px);

                @include breakpoint($b-tab-desk) {
                    margin-top: du(14px);
                }
            }
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;

            @include breakpoint($b-desk) {
                cursor: pointer;
            }
        }

        &__arrow {
            width: vw($dropdown-item-arrow-size);
            height: vw($dropdown-item-arrow-size);
            transition: all 0.5s ease-in-out;

            @include breakpoint($b-tab-desk) {
                width: du($dropdown-item-arrow-size);
                height: du($dropdown-item-arrow-size);
            }

            ::v-deep {
                #circle {
                    stroke: $dropdown-color-arrow-circle;
                }

                #arrow {
                    stroke: $dropdown-color-arrow-down;
                }
            }
        }

        &__description {
            height: 0px;
            overflow-y: hidden;
            transition: all 0.5s ease-in-out;
        }
    }
}
