$c-carte-verte-text: rgb(0, 0, 0);

.carte-verte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: vw(15px) 0;
    @include breakpoint($b-desk) {
        padding: du(30px) 0;
    }
    &__img {
        max-width: vw(155px);
        height: vw(54px);
        .text {
            fill: $c-carte-verte-text;
        }
        @include breakpoint($b-desk) {
            width: du(150px);
            height: du(54px);
        }
    }
    &__text {
        margin: 0 auto;
        max-width: vw(328px);
        padding-top: vw(15px);
        font-size: vw(14px);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: vw(1.17px);
        text-align: center;
        color: $c-carte-verte-text;
        @include breakpoint($b-desk) {
            font-size: du(14px);
            letter-spacing: du(1.17px);
            padding-top: du(30px);
        }
    }
}
