$app-c-background: white;
$app-container-c-background: transparent;
$header-background-mob: "~@/assets/img/header-background-mob.jpg";
$header-background-desk: "~@/assets/img/header-background-desk.jpg";
$offer-background-mob: "~@/assets/img/offer-background-mob.jpg";
$offer-background-desk: "~@/assets/img/offer-background-desk.jpg";

#app {
    background: $app-c-background;
}
.app {
    &__container {
        position: relative;
        background: $app-container-c-background;
    }
}
::v-deep .loader {
    background-color: #78be20;
}

::v-deep .header {
    background-image: url($header-background-mob);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    &__bloc {
        background-color: #78be20;
        border-radius: 2rem;
        // padding-bottom: 35vw;
        .header__logo {
            top: 1rem;
        }
    }
    &__title {
        margin-top: 4rem;
        h3 {
            font-size: 2.4rem;
        }
    }
    &__mentions {
        p {
            font-weight: 900;
        }
    }

    @include breakpoint($b-tab-desk) {
        background-image: url($header-background-desk);
        &__title {
            margin-top: 1rem;
        }
        &__bloc {
            padding-bottom: 6.25rem;
        }
    }
    @include breakpoint($b-little-mob) {
        &__title {
            margin-top: 2.3rem;
            h3 {
                font-size: 2rem;
            }
        }
    }
    @include breakpoint($b-special-mob) {
        &__title {
            margin-top: 4rem;
            h3 {
                font-size: 2.3rem;
            }
        }
    }
}
::v-deep .offer {
    background-image: url($offer-background-mob);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 2.5rem;

    &__wrapper {
        background-color: transparent !important;
    }

    &__title.mb-2 {
        margin-bottom: 2rem;
    }
    &__title {
        h3 {
            font-size: 1.2rem;
            color: #000;
        }
    }

    .popin {
        box-shadow: none;
    }

    &__code {
        background-color: white;
        box-shadow: 0px 4px 22px 0px rgba(34, 34, 43, 0.1),
            0px 12px 16px -6px rgba(34, 34, 43, 0.08),
            0px -1px 4px -2px rgba(34, 34, 43, 0.08);
        border-radius: 26px;
        padding: 2rem 1.2rem;
    }
    &__red {
        color: #e4012c;
    }
    &__code_title {
        h3 {
            font-size: 2.2rem;
            color: #000;
            margin-bottom: 0.9rem;
        }
    }
    .copycode {
        &__button {
            background-color: #78be20;
            border: 1px solid #78be20;
            border-radius: 2rem;
        }

        &__button__txt {
            color: #fff;
            font-family: $t-proxima-nova;
            letter-spacing: 0;
        }
        .icon-rec {
            stroke: #fff;
        }
    }
    .plus {
        border: none;
        background-color: #e4012c;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__subtitle {
        margin-bottom: 2rem;
        .bigBody {
            background-color: white;
            box-shadow: 0px 4px 22px 0px rgba(34, 34, 43, 0.1),
                0px 12px 16px -6px rgba(34, 34, 43, 0.08),
                0px -1px 4px -2px rgba(34, 34, 43, 0.08);
            border-radius: 26px;
            color: #e4012c;
            font-size: 1.2rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            font-weight: 700;
        }
    }

    &__btn {
        .click__inner__button {
            background-color: #78be20;
            color: white;
            border: none;
            box-shadow: none;
            border-radius: 26px;
            font-size: 1.2rem;
            font-weight: 700;
            padding: 1.2rem 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    @include breakpoint($b-tab-desk) {
        background-image: url($offer-background-desk);

        &__wrapper.row {
            justify-content: center;
            padding: 0;
            .offer__content {
                width: 100%;
            }
        }
        &__wrapper.popin {
            width: 100%;
        }
        &__content {
            max-width: 70rem;
            width: 100%;
        }
        .copycode__button {
            max-width: 9rem;
        }
    }
    @include breakpoint($b-little-mob) {
        height: 100vh;
    }
}
::v-deep .staticZone {
    padding: 2rem 1.9rem;
    text-align: center;
    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #000;
    }
    .ml {
        font-size: 1.25rem;
        color: #000;
        font-weight: 400;
    }
    &__green {
        color: #78be20;
    }
    &__red {
        color: #e4012c;
        font-weight: 700;
    }

    @include breakpoint($b-little-mob) {
        h3 {
            font-size: 1.6rem;
        }
        .ml {
            font-size: 1.1rem;
        }
    }
    @include breakpoint($b-special-mob) {
        h3 {
            font-size: 2rem;
        }
        .ml {
            font-size: 1.2rem;
        }
    }
}

::v-deep .slider {
    background-color: #78be20;
    border-radius: 1.5rem;

    &__title {
        color: #fff;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .smallBody {
            color: #fff;
        }
    }
    &__nav {
        background-color: #e4012c;
        border: 1px solid #e4012c;
        width: 1.5rem;
        height: 1.5rem;
        &::after {
            color: #fff;
            font-size: 1.1rem;
        }
        &--prev {
            left: 2%;
        }
        &--next {
            right: 2%;
        }
    }
    @include breakpoint($b-tab-desk) {
        &__nav {
            &--prev {
                left: 33%;
            }
            &--next {
                right: 33%;
            }
        }
    }
    .cards {
        &__card.popIn {
            border-radius: 1.5rem;
        }
        .fonts {
            .bigBody {
                font-size: 1.3rem;
                color: #e4012c;
            }
            .smallBody {
                font-size: 1.1rem;
                color: #000;
            }
        }
    }

    .click {
        &-block {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        &__inner__button {
            border-radius: 3rem;
            background-color: #78be20;
        }
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        opacity: 0.8;
        height: 0.7rem;
    }
    .swiper-pagination-bullet-active {
        width: 1.3rem;
        border-radius: 35%;
        background-color: #e4012c;
    }
}

::v-deep .blog {
    padding: 2rem 1rem;
    text-align: center;
    color: #000;
    .content__title {
        color: #000;
    }
    .cards__card__wrapper .content__title--btn .icon {
        background-color: #e4012c;
        &::before {
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    @include breakpoint($b-tab-desk) {
        padding: 3rem 17rem;
    }
}
::v-deep .reinsuran {
    padding: 1rem 0.9rem;
    .fonts {
        h3 {
            font-size: 1.2rem;
            color: #000;
        }
        h4 {
            font-size: 1rem;
            color: #78be20;
        }
    }
    .img-mod__image {
        width: 90%;
        height: 90%;
    }
    @include breakpoint($b-tab-desk) {
        padding: 2rem 4rem;
    }
    @include breakpoint($b-special-mob) {
        .fonts {
            h3 {
                font-size: 1.1rem;
            }
        }
    }
}
::v-deep .staticZone2 {
    background-color: #78be20;
    text-align: center;
    color: #fff;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    .staticZone2_title {
        h3 {
            margin-bottom: 0.8rem;
        }
    }
    @include breakpoint($b-tab-desk) {
        padding: 3rem 17rem;
    }
}
::v-deep .sticky {
    color: #000000;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    &__content,
    .pop-in {
        border-radius: 5rem;
        flex-direction: column;
    }
    &__text {
        .bigBody {
            font-weight: 700;
            font-size: 1.2rem;
            color: #000000;
            margin-bottom: 0.5rem;
        }
    }

    .pop-in {
        width: 100%;
        .sticky {
            &__text {
                width: 100%;
            }
            &__btn {
                width: 65%;
            }
            &__red {
                color: #e4012c;
            }
        }
    }
    .click__inner__button {
        background-color: #78be20;
        border-radius: 2rem;
    }

    @include breakpoint($b-tab-desk) {
        &__content,
        .pop-in {
            padding: 1rem;
            flex-direction: row;
        }
        .pop-in {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .sticky {
                &__text {
                    width: auto;
                }
                &__btn {
                    width: auto;
                }
            }
        }
    }
}

::v-deep .mention {
    padding: 1.5rem 1rem;
    p {
        font-size: 0.625rem;
    }
    @include breakpoint($b-tab-desk) {
        padding: 0 7rem 2rem 7rem;
        p {
            font-size: 0.55rem;
        }
    }
    @include breakpoint($b-xxlarge) {
       
        p {
            font-size: 0.95rem;
        }
    }
}
::v-deep .footer {
    background-color: #78be20;
}
