<template>
    <div id="app">
        <!-- <Loader classic type="progressBar"/> -->

        <div v-show="contentInitialized">
            <Debug />
            <RedirectionPopup />
            <BackToHome />
            <Header variant="block" :title="[{ type: 'h3', text: $t('header.title') }]" textAlign="center"
                :textScroll="{ text: $t('header.textscroll'), type: 'ml' }" logo="logo-drmax.png" />
            <Offer row popIn appearChildren :title="[{ type: 'h3', text: $t('offer.title') }]" :subtitle="[{ type: 'h2', text: '+', fontClass: 'plus' },
            { type: 'bigBody', text: $t('offer.subtitle') }]"
                :copyCodeTitle="[{ type: 'h3', text: $t('offer.offer_title') }, { type: 'smallBody', text: $t('offer.offer_subtitle') }]"
                copyCode="VPMAX" idBtn="id" />
            <div class="app__container">
                <div class="staticZone">
                    <Fonts class="staticZone_title"
                        :text="[{ type: 'h3', text: $t('staticzone.title') }, { type: 'ml', text: $t('staticzone.subtitle') }]" />
                </div>
                <Slider name="myName2" variant="simpleCard" popInCard loop :title="[
                    { type: 'h3', text: $t('slider.title') },
                    { type: 'smallBody', text: $t('slider.subtitle') }
                ]" :content="[
                    {
                        title: { text: $t('slider.card1Title'), type: 'bigBody' },
                        img: 'slider-card1.png',
                        text: { text: $t('slider.card1Subtitle'), type: 'smallBody' },
                        id: 'button1'
                    },
                    {
                        title: { text: $t('slider.card2Title'), type: 'bigBody' },
                        img: 'slider-card2.png',
                        text: { text: $t('slider.card2Subtitle'), type: 'smallBody' },
                        id: 'button1'
                    },
                    {
                        title: { text: $t('slider.card3Title'), type: 'bigBody' },
                        img: 'slider-card3.png',
                        text: { text: $t('slider.card3Subtitle'), type: 'smallBody' },
                        id: 'button1'
                    },
                    {
                        title: { text: $t('slider.card4Title'), type: 'bigBody' },
                        img: 'slider-card4.png',
                        text: { text: $t('slider.card4Subtitle'), type: 'smallBody' },
                        id: 'button1'
                    },
                    {
                        title: { text: $t('slider.card5Title'), type: 'bigBody' },
                        img: 'slider-card5.png',
                        text: { text: $t('slider.card5Subtitle'), type: 'smallBody' },
                        id: 'button1'
                    }]" />
                <div class="blog">
                    <Fonts class="blog__title" :text="[{ type: 'h3', text: $t('categories.title') }]" />
                    <Cards variant="category" isMobRow :cardsList="[
                        {
                            img: 'category-card1.jpg',
                            title: { text: $t('categories.card1'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card2.jpg',
                            title: { text: $t('categories.card2'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card3.jpg',
                            title: { text: $t('categories.card3'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card4.jpg',
                            title: { text: $t('categories.card4'), type: 'bigBody' },
                            id: 'button1'
                        }
                    ]" />
                </div>
                <div class="reinsuran">
                    <Cards variant="reinsurance" isMobRow :cardsList="[
                        {
                            img: 'reinsurance-card1.png',
                            title: { text: $t('reinsurance.card1Title'), type: 'h3' },
                            text: { text: $t('reinsurance.card1Subtitle'), type: 'h4' },
                        },
                        {
                            img: 'reinsurance-card2.png',
                            title: { text: $t('reinsurance.card2Title'), type: 'h3' },
                            text: { text: $t('reinsurance.card2Subtitle'), type: 'h4' },
                        },
                        {
                            img: 'reinsurance-card3.png',
                            title: { text: $t('reinsurance.card3Title'), type: 'h3' },
                            text: { text: $t('reinsurance.card3Subtitle'), type: 'h4' },
                        },
                        {
                            img: 'reinsurance-card4.png',
                            title: { text: $t('reinsurance.card4Title'), type: 'h3' },
                            text: { text: $t('reinsurance.card4Subtitle'), type: 'h4' },
                        }
                    ]" />
                </div>
                <div class="staticZone2">
                    <Fonts class="staticZone2_title"
                        :text="[{ type: 'h3', text: $t('staticzone2.title') }, { type: 'ml', text: $t('staticzone2.subtitle') }]" />
                </div>
            </div> <!-- end app__container (do not remove this comment) -->
            <Sticky type="pop-in" position="bottom" trigger=".app__container" />
            <Fonts class="mention" :text="[{ type: 'ml', text: $t('mention.txt') }]" />
            <Footer />

            <!-- Background Ghosts for Loader -->
            <img v-for="(bgImages, bgIdx) in getImages" :key="`bg-images-${bgIdx}`" :src="bgImages" alt=""
                v-loader:nested class="no-display" />
        </div>
    </div>
</template>

<style scoped lang="scss" src="./App.scss"></style>
<script src="./App.js"></script>
