<template>
    <div class="dynamictrad">
        <i18n :path="slug" :tag="tag">
            <template v-for="(track, tIndex) in getPathParameters($t(slug))" #[track]>
                <Click :key="`dynamic-trad-${tIndex}`" :id="track" />
            </template>
        </i18n>
    </div>
</template>

<script src="./DynamicTrad.js"></script>
<style scoped lang="scss" src="./DynamicTrad.scss"></style>
